
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
}

.container{
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.5)),url(imags/home6.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #b2aeae;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #ba992d;
  
}


.navgtion ul{
    display: flex;
    list-style: none;
}

.navgtion ul li a{
    text-decoration: none;
    color: #efefef;
    padding: 0px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px 30px;
}
.navgtion ul li{
    padding-top: 10px;
}
.navgtion ul li a:hover{
    opacity: 1.4;
    transition: 1s ease;
    transform: translate(10px);
    color: rgb(246, 123, 0);
}
@media (max-width:768px){
   .navgtion ul {
    display: flex;
    flex-wrap:nowrap;
    padding: 0px 10px;
   }
   .navgtion ul li a{
    font-size: 10px;
    margin: 4px 5px;
    padding: 10px 1px;
   }
   .navgtion ul li{
    padding-top: 10px;
   }
}
.part-one{
    display: flex;
    padding:10px 80px;
    justify-content: space-between;
}
.tetxinfo{
    color: #970b0b;
    padding-top: 15%;
}
/* main media */
@media(max-width:768px){
    .main{
        font-size: 10px;
        padding: 1px 1px;
      }
      .main h1{
        font-size: 15px;
        padding: 15px 1px;
      }
      .main h2{
        padding: 5px 5px;
        font-size: 15px;
      }
      .main .tetxinfo p{
        font-size: 10px;
        margin: 1px 1px;
        padding: 1px 10px;
      }
      .main button{
        padding: 0px 10px;
        margin: 3px 100px;
      }
      .main .part-one{
        padding: 1px 1px;
      }
      .image li{
        padding: 1px 1px;
      }
      .main ul li img{
        width: 50px;
        height: 50px;
        margin: 1px 1px;
      }
}
.tetxinfo h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(254, 254, 254);
    margin-bottom: 10px;
    font-weight: bold;
}
.tetxinfo h2{
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(194, 111, 10);
    margin-bottom: 15px;
}
.tetxinfo p {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 15px;
    letter-spacing: 1px;
    width: 400px;
    margin: 1px 50px;
}
.tetxinfo button{
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #343434;
    color: rgb(255, 255, 255);
    background-color: #886001;
    transition: 1s ease-in;
    cursor: pointer;
    margin: 30px 100px;
}
.tetxinfo button:hover{
    transform: scale(1.1);
    background-color: rgb(136, 106, 36);
    color: #000000;
}
.image ul {
    display: flex;
}
.image li{
    padding-left: 10px;
    margin: 50px 20px;
    list-style: none;
    margin-top: -1%;
}
.image li img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size:cover;
    border-radius: 20px;
    margin: 1px 10px;
    cursor: pointer;
    animation: span 3s infinite alternate;
    transition: 2s ease;

}
@keyframes span{
    0%{
         transform:translateY(-10px)
    }
}

.center{
    color: rgb(125, 123, 123);
    text-align: center;
    margin: 30px;
    font-size: 2rem;
    font-weight: bold;
}
.center span{
    color: #9a7f34;
    font-size: 2.1rem;
}

.fox img{
    width: 400px;
    height: 400px;
}

.fox{
    display: flex;
   margin: 20px 80px;
   background-color: #eaeaea;
}

.fox .info{
    padding: 20px 80px ;
}
.fox h1{
    color: black;
    font-size: bold;
    font-size: 1.8rem;
    padding: 10px 80px;
}
.fox p{
    font-size: 1.4rem;
    color: rgb(19, 17, 9);
    padding: 20px 40px;
}
.fox button{
    padding: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: rgb(161, 134, 100);
    margin: 10px 200px;
    cursor: pointer;
}
.fox button:hover{
    color: #121111;
    background-color: rgb(107, 88, 65);
    opacity: 0.7;
    transition: 1s ease-in;
}
@media(max-width:768px){
    .fox {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 10px 50px;
    }
    .fox .info h1{
        font-size: 10px;
        padding: 10px 5px;
    }
    .fox .info p {
        font-size: 10px;
        padding:5px 1px;
    }
    .fox .info button{
        margin: 10px 10px;
    }
    .fox img{
        width: 300px;
        height: 300px;
    }
}

.item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 80px;
}

.menu-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 30px 50px;
    gap: 5px;
}
@media (max-width:768px)and (min-width:300px){
    .menu-item{
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 10px;
    }
}
.item{
    width: 380px;
    border: 1px solid #fff;
    height: auto;
    border-radius: 4px;
    color: #fff;
}
.item:hover{
    background-color: #706a6a;
}
.item h1{
font-size: 1.9rem;
font-weight: bold;
color: #cbc1c1;
text-align: center;
}

.item p {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(219, 150, 0);
    padding: 10px;
}
.item button {
margin: 10px 120px;
padding: 10px 20px;
border-radius: 10px;
border: 1px solid #878787;
background-color: #868160;
color: #fff;
font-size: 15px;
cursor: pointer;
}

.review img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 4px 120px;
}
.review-par{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 40px 80px ;
    gap: 40px;
    margin-bottom: 30px;
}
@media (max-width:768px){
    .review-par{
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 20px;
    }
    .review-par h1{
        color: #fff;
    }
}
.review{
    border-radius: 5px;
    border: 1px solid #ffffff9d;
    transition:2s ease;
}

.review:hover{
 transform: scale(1.06);
}
.review h1 {
padding: 20px;
text-align: center;
color: rgba(193, 161, 3, 0.995);
font-size: 3rem;
}
.review h2{
    padding: 10px 50px;
    font-size: 1rem;
    color: #ffffff;
}
.review p{
    padding:10px 110px;
    font-size:1.5rem;
    font-weight: bold;
}

.contact-par {
    display: flex;
    margin: 10px 100px;
    background-color: #2d2d2dbb;
    margin-bottom: 20px;
}
@media (max-width:768px){
    .contact-par {
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: 350px;
    }
    .contact-par iframe{
        width: 350px;
        height: 340px;
    }
    .contact-par form input{
      padding: 10px;
      margin: 10px;
    }
    .contact-par form button{
  
        font-size: 15px;
        margin: 3px 25px;
        padding: 3px 10px;
    }
}

iframe{
    width: 500px;
    height: 400px;
}
.contact-par form{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    position: relative;

}
form input {
    padding: 20px 100px;
    margin: 10px 15px;
    border-radius: 4px;
    border: 1px solid #fff;
}

form button{
    padding: 10px 5px ;
    border: 1px solid #868160;
    background-color: #868160;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    transition: 1s ease-in;
}
form button:hover{
    background-color: #121111;
    color: rgb(182, 117, 33);
    transform: scale(1.1);
}


.footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: auto;
}

.footer-content h3 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.footer-content p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.footer-content .socials {
    list-style: none;
    padding: 0;
}

.footer-content .socials li {
    display: inline-block;
    margin: 0 10px;
}

.footer-content .socials li a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer-content .socials li a:hover {
    color: #9a7f34;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
}


@media (max-width:768px){
  body{
    font-size: 10px;
  }
  .container{
    width: 430px;
    height: 490px;
  }
  header{
    padding: 5px 6px;
  }
}
@media(min-width:768px) and (max-width:991px){
    .container {
        width: 100%;
        height: 500px;
    }
    .navgtion ul li a{
        font-size: 15px;
        padding: 10px;
    }
    .main{
        font-size: 10px;
        padding: 1px 1px;
      }
      .main h1{
        font-size: 20px;
        padding: 10px 10px;
      }
      .main h2{
        padding: 5px 10px;
        font-size: 15px;
      }
      .main .tetxinfo p{
        font-size: 13px;
        margin: 1px 1px;
        padding: 1px 10px;
      }
      .main button{
        padding: 5px 10px;
        margin: 15px 100px;
      }
      .main .part-one{
        padding: 1px 1px;
      }
      .image li{
        padding: 1px 1px;
      }
      .main ul li img{
        width: 50px;
        height: 50px;
        margin: 1px 1px; 
      }
      /*  */
      .fox {
        display: flex;
        flex-direction: row;
        width: 650px;
        margin: 10px 50px;
    }
    .fox .info h1{
        font-size: 16px;
        padding: 10px 5px;
    }
    .fox .info p {
        font-size: 10px;
        padding:5px 1px;
    }
    .fox .info button{
        margin: 10px 10px;
    }
    .fox img{
        width: 300px;
        height: 300px;
    }
    /*  */
    .menu-item{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 40px;
        gap: 10px;
    }
    .item {
        width: 300px;
    } 
    .item img{
        margin: 20px 43px;
    }
    .item button{
        padding: 10px 30px;
        margin: 10px 70px;
    }
    /*  */
    .review-par{
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        gap: 20px;
    }
    
    .review h2{
        font-size: 20px;
        padding: 10px 20px;
    }
    .review img{
        margin: 30px 290px;
        width: 150px;
        height: 150px;
    }
    /*  */
    .contact-par {
        display: flex;
        flex-direction: row;
        margin: 30px;
        width: 350px;
    }
    .contact-par iframe{
        width: 350px;
        height: 340px;
    }
    .contact-par form input{
      padding: 10px;
      margin: 10px;
    }
    .contact-par form button{
  
        font-size: 15px;
        margin: 3px 25px;
        padding: 3px 10px;
    }

}






@media (min-width:992px) and (max-width:1200px){
    .navgtion ul li{
        padding-top:10px ;
    }
    .navgtion ul li a{
        padding: 1px 10px;
        font-size: 20px;
        margin: 1px 10px;
    }
  .fox{
    width: 940px;
    height: 400px;
    margin: 10px 46px;
  }
  .fox button{
    padding: 10px 30px;
    font-size: 15px;
  }
   .menu-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 40px;
    gap: 10px;
}
.item {
    width: 300px;
}
.item button{
    padding: 10px 20px;
    margin: 10px 80px;
}
.review-par {
margin: 10px 10px;
gap: 10px;
}
.review h2{
    font-size: 20px;
}
.review img{
    margin: 10px 70px;
    width: 150px;
    height: 150px;
}
.container-par form{
    margin: 10px 50px;
    padding: 10px 10px;
}
.contact-par{
    width: 990px;
    margin: 10px 10px;
}
.contact-par form button{
padding: 10px 10px;
margin: 10px;
}
    } 
    

